<div class="principal">
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/home" style="margin-left: 10px"><img src="./assets/img/logo.png" width="60" height="60" alt="" ></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
        <li><a routerLink="/feed">Feed</a></li>
        <li><a routerLink="/ranking">Ranking</a></li>
        <li><a routerLink="/home">Logout</a></li>
        <li>
              <input [(ngModel)]="searchText" type="text" class= "search-txt " placeholder="Pesquisar no Feed" style="border:none; font-weight: 400; margin-top:13px">
        </li>
      </ul>
    </div>
  </nav>
  <!--/Navigation bar-->
 <!--modal editar perfil-->
  <div class="modal fade" id="changeimg" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <button #closeModalChangeButton type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title text-center form-title" style="color: #0066cc;">Editar Perfil</h4>
        </div>
        <div class="modal-body">
          <div class="login-box-body">
            <div>
              <img src="./assets/img/avatar.png" class="rounded" style="width: 80px; height:80px; margin-left: 38%;">
            </div>
            <p class="login-box-msg" style="color: grey;">Insira uma foto</p>
            <form action="#" method="post" name="changeimg" style="width: 350px; margin-left:-20px;" >
            <input class="form-control" id="perfilImg" type="file" name="perfilImg" accept="image/*"/>


            <div class="form-group" style="margin-bottom:0rem">
             <!----- username -------------->
             <label for="nome" style="font-size: 1.3rem">Nome completo:</label><br>
             <p style="font-size: 1.3rem">Felipe Dias Pinheiro</p>
             <span style="display:none; font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_name"></span>

           </div>
           <div class="form-group" style="margin-bottom:0rem">                    <!----- matricula -------------->
             <label for="matricula" style="font-size: 1.3rem">Matrícula:</label>
             <p style="font-size: 1.3rem">12/1234567</p>
             <span style="display:none; font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_id"></span>

           </div>

           <div class="form-group" style="margin-bottom:0rem">                    <!----- username -------------->
            <label for="rg" style="font-size: 1.3rem;">Número RG:</label><br>
            <p style="font-size: 1.3rem"> 1234567</p>
             <span style="display:none; font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_rg"></span>

           </div>


         <div class="form-group" style="margin-bottom:0rem">                    <!----- username -------------->
           <label for="campoData" style="font-size: 1.3rem">Data de nascimento:</label>
           <p style="font-size: 1.3rem"> 11/12/1994</p>
           <span style="display:none; font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_rg"></span>

         </div>


           <div class="form-group" style="margin-bottom:0rem">                    <!----- username -------------->
             <label for="email" style="font-size: 1.3rem">E-mail</label>
             <input class="form-control" placeholder="E-mail" id="email" type="email" name="email" required="" />
             <span style="display:none; font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_loginid"></span>

           </div>
           <div class="form-group" style="margin-bottom:0rem" [class.has-error]="password1.touched && password1.invalid">                    <!----- password -------------->
            <label style="font-size: 1.3rem">Nova Senha</label>
            <input class="form-control" placeholder="Senha" type="password" name="password" required [(ngModel)]="password" #password1="ngModel">
            <span style="color: red; font-size: 11px;" *ngIf="password1.touched && password1.errors?.required">
            Digite uma senha
            </span>

          </div>
          <div class="form-group" [class.has-error]="password2.touched && password2.invalid">                    <!----- password -------------->
            <label style="font-size: 1.3rem">Confirme a senha</label>
            <input class="form-control" placeholder="Repita senha" type="password" name="passwordconfirm" signUpConfirmEqualValidator="password" required [(ngModel)]="passwordconfirm" #password2="ngModel">
            <span style="color: red; font-size: 11px;" *ngIf="password2.touched && password2.errors?.required">
            Confirme sua senha
            </span>
            <span style="color: red; font-size: 11px;" *ngIf="password2.touched && password2.errors?.notEqual && !password2.errors?.required">
            As senhas devem ser iguais
            </span>
            
             <input style="margin-top: 20px;"type="submit" class="btn btn-green btn-block btn-flat" value="Alterar">

           </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/modal editar perfil-->
  <div class="modal fade " id="post01" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content  modal-sm" >
        <div class="modal-header" >
            <button #closeModalDangerButton type="button" class="close" data-dismiss="modal">&times;</button>
          <div class="row">
            <h4 style="color:red;text-align: center;" class="modal-title" id="modalLabel">Denunciar publicação</h4>
          </div>
        </div>
        <div class="modal-body" style="text-align: center;">
          <p style="color:black;font-size:20px;">Esta publicação será denunciada. Deseja continuar?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger">Sim</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal">N&atilde;o</button>
        </div>
      </div>
    </div>
  </div>
  <!--/ Modal box-->
  <!-- Sidebar-->
  <div class="s-layout__sidebar">
    <nav class="s-sidebar__nav" style="margin-top: 60px;">
      <ul>
        <img src="./assets/img/avatar.png">
        <br>
        <em style="padding-left:10%;">Felipe Dias Pinheiro</em>
        <li>
          <a class="s-sidebar__nav-link" href="#" data-target="#changeimg" data-toggle="modal" >
          <i class="fa fa-user"></i><em>Editar Perfil</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" routerLink="/post">
          <i class="fa fa-newspaper-o"></i><em>Publicar</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" href="#demo" data-toggle="collapse">
          <i class="fa fa-pencil-square-o"></i><em>Demandas</em>
          </a>
        </li>
        <div id="demo" class="collapse">
          <div style="margin-left: 60px; margin-top: 8px; padding-top: 40px;"><a  style="text-decoration: none;" routerLink="/madeByme" >Criadas</a></div>
            <div style="margin-left: 60px; margin-top: 8px;"><a  style="text-decoration: none;"routerLink="/liked" >Curtidas/<br>Comentadas</a></div>
             <div style="margin-left: 60px; margin-top: 8px;"><a  style="text-decoration: none;" routerLink="/solved">Solucionadas</a></div>
             </div>
             
      </ul>
    </nav>
  </div>
  <!--/ Sidebar-->
  <!--Card-->
 <div class="s-layout__content">
  <div class="mar">
    <div class="card" *ngFor="let post of posts ">
      <div class="pull-right">
        <button class="btn btn-link" data-toggle="modal" data-target="#post01"  aria-controls="post01">
          <i class="fa fa-exclamation" style="font-size:30px; color:#dc3545"></i>
        </button>
      </div>
      <div class="card-header textleft">
        <div class="col-xs-2" style="width:auto; padding:1; height: 100%;">
          <img [src]="post?.user.profilePicture" style="object-fit:cover; border-radius: 50%;">
        </div>
        <p style="padding-top:5px;">
          <a>  {{post?.user.name}}</a>
          publicou
          <b>{{post?.title}}</b>
          em<br>
          <i class="fa fa-map-marker" style="color:gray;" name="pin"></i>
          {{post?.location}} {{post?.date}} às {{post?.hour}}
        </p>
      </div>
      <div class="card-body" style="background-color:#fff; ;">
        <img [src]="post?.image" style="width:100%">
        <p  style="text-align:left;">
        {{post?.description}}
        </p>
        <div class="row">
          <div class="col-sm-12">
        <div class="linha"></div>
            <ul class="list-inline">
              <div class="pull-left">
                  <a (click)="like(post)"><i class="fa fa-thumbs-up" style="  margin-left: 20px;margin-top:7px;
                  font-size: 15px;color:#3366BB"></i></a>
                  {{post?.likes}}
                </div>
                <div class="textl pull-right">
                  <i class="fa fa-comments btn btn-link " style="padding-right:0;"></i>
                  <a class="btn btn-link " style="padding:0;" (click)="post.showcomments=!post.showcomments">
                  {{post?.commentnum}} comentários
                  </a>
                </div>
            </ul>
          </div>
        </div>
            <div class="linha2"></div>
    </div>
      <div class="card-footer" *ngIf="post.showcomments">
        <div class="card-header textleft">
          <div class="col-xs-2" style="width:auto;">
            <img [src]="post?.comment.user.profilePicture" style="object-fit:cover;border-radius: 50%;">
          </div>
          <p class="borda">
            <a>  {{post?.comment.user.name}}</a>
            <br>
            {{post?.comment.com}}
          </p>
      </div>
    </div>
    <div class="textleft">
      <input type="text" class="form-control" placeholder="Escreva seu comentário..." style="border-radius: 10px;">
    </div>
  </div>
 </div>
</div>
</div>
  <!--/Card-->
  <script src="feed.ts"></script>
  <div class="search-results"
          infinite-scroll
          [infiniteScrollDistance]="2"
          [infiniteScrollThrottle]="300"
          (scrolled)="onScroll()">
      </div>
