/*CSS PERFIL*/
.principal {background-color:  rgb(242, 244, 247);}

div.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
  }


  @media screen and (max-width: 1024px) {
    div.center {
      margin-left: -13px;
      margin-top: -60px;
      width: 30%;

    }
  }
  .seta-esquerda:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 0;
    height: 0;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid blue;
  }
  .btn-search{
    color:#28a745;
    float:right;
    border-radius:50%;
    justify-content: center;
    margin-left: 5px;
    align-items: center;
    display: flex;
    width:35px;
    height: 35px;
        background-color:#fff;
      }
      .search-txt{
        border-radius:10px;
        padding: 0;
        color:green;
        font-size: 16px;
        transition:0.4s;
        width:300px;
        line-height: 30px;
        }

  .modal-content {
    display: block;
  }
  .modal-body{
    display: block;
    overflow-y: scroll;
  }
/***********************************
Navigation bar
************************************/
/*cor da barra de navegação*/
.navbar-default {
    background-color: #0066cc;
}
/*caracteristicas do conteudo da barra*/
.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 0px;
	margin: 10px 5px;
	padding: 10px 15px;
}
/*Quando passa o mouse*/
.navbar-default .navbar-nav > li > a:hover
{
	color: rgb(101, 191, 91);
}
/*Quando clica*/
.navbar-nav .active a{
    background: none !important;
    color: rgb(101, 191, 91) !important;
    outline: none;
}

/******************
Sidebar
******************/

/* Primary Styles */
*, *::before, *::after {
    box-sizing: border-box;
    }

    em {
    font-style: normal;
    color: white;
    font-size: 14px;
    font-weight: 700;
    }
    .s-sidebar__nav .collapse.in a{
      color: white;
      font-size: 14px;
    }
    em:hover,
    a:hover {
     color: rgb(101, 191, 91);
    }

    /* Layout */
.s-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.s-layout__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

    .mar{
      margin-top:80px;
    }
    .linha {
      margin-top: 2px;
      width: 100%;
      border-bottom: 1.3px solid #ced4da;
    }
    .linha2 {
      margin-bottom: 12px;
      width: 100%;
      border-bottom: 1.3px solid #ced4da;
    }


    .borda{
      border-width: 1px 1px 1px 1px; /* aqui, cada lado possui uma borda de largura diferente */
       /* estilos de borda diferentes para cima-baixo e esquerda-direita */
        border-color: #000 #090 #900 #009; /* uma cor de borda para cada lado */
        padding: 5px;
        background-color:rgb(242,244,247);
        border-radius: 18px;
    }

/* Sidebar */

.s-sidebar__nav {
   position: fixed;
   top: 0;
   overflow: hidden;
   transition: all .3s ease-in;
   height: 100%;
   z-index: 1;
   background:linear-gradient(#0066cc 30%, rgb(101,191,91));;

}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
left: 0;
}

.s-sidebar__nav ul {
position: absolute;
left: 0;
margin: 0;
padding: 0;
width: 15em;
top: 4em;
}

.s-sidebar__nav ul li {
width: 100%;
margin: 10px;

}

.s-sidebar__nav-link {
position: relative;
display: inline-block;
width: 100%;
color:white;
margin: 0;
}

.s-sidebar__nav-link em {
position: absolute;
left: 3.5em;
transform: translateY(-50%);
}


.s-sidebar__nav-link > i , .s-sidebar__nav-link a{
position: absolute;
top: 0;
width: 4em;
}

.s-sidebar__nav-link > i::before {
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);
}
.s-layout__content > .mar > .group >.card{
  background-color:#fff;
  margin-top:20px;
  margin-bottom:15px;
  border-radius: 10px;
    padding-left: 5em ;
    padding-right: 5em;
    padding-bottom: 0.5em;
    -webkit-box-shadow: 10px 3px 81px 2px rgba(101,191,91,1);
    -moz-box-shadow: 10px 3px 81px 2px rgba(101,191,91,1);
    box-shadow: 10px 3px 81px 2px rgba(101,191,91,1);
   }
   .modal-body > .mar >.card{
    background-color:#fff;
    margin-top:10px;
    margin-bottom:15px;
    border-radius: 10px;
    }

    .card .card-header{
      padding-top: 10px;
      padding-bottom: 10px;
      }
      .card .card-header img{
        width: 40px;
        height: 40px;
      }
      .card .card-footer{
        padding-top: 10px;
        padding-bottom: 20px;
          border-radius: 10px;
        }
      .card-info{
        margin-top:30px;
        border-radius: 10%;
        padding-top: 10px;
        padding-bottom: 10px;

      }

     select {
      width: 17em;
      text-align: center;
    }
    .modal h3{
    color: #0066cc;
    }
/* Mobile First */
@media (min-width: 10em) {
  .s-layout__content {
    margin-left: 4em;
 }

.list-inline{

font-size: 12px;
}
/* Sidebar */

.s-sidebar__nav {
  width: 4em;
  left: 0;
}

.s-sidebar__nav ul{
top: 1.3em;
}
.s-sidebar__nav-link{
  top: 2.3em;
  }
.s-sidebar__nav:hover em,
.s-sidebar__nav:focus em,
.s-sidebar__nav:hover,
.s-sidebar__trigger:hover + .s-sidebar__nav,
.s-sidebar__trigger:focus + .s-sidebar__nav

{
  width: 11em;
  color: white;

}
.s-sidebar__nav:hover .collapse.in a,
.s-sidebar__nav:focus .collapse.in a{
  color: white;
}
.s-sidebar__nav:hover img,
.s-sidebar__nav:focus img {
width: 9em;
height: 9em;
margin-left: 15px;
}
.s-sidebar__nav:hover ul,
.s-sidebar__nav:focus ul
{
top: 1.3em;
}

.s-sidebar__nav em,
.s-sidebar__nav .collapse.in a{
color: transparent;
}
.s-sidebar__nav-link em:hover,
.s-sidebar__nav-link a:hover,
.s-sidebar__nav .collapse.in a:hover{
color: rgb(101, 191, 91);
}

ul > img{
width: 3em;
height:3em;
border-radius: 50%;
margin-left: 8px;
}

.card-info{
  display: none;
}
.card{
  max-width: 550px;
  height: auto;
  min-width: 260px;
}
.modal-dialog{
  max-width: 100%;
  height: auto;
  min-width: 260px;
  margin-top: 15px;
}
.card-header, .card-body{
  font-size: 10px;
}
p.borda{
  font-size: 2vw;
}
    /*select {
      width: 7em;
    }*/
}


@media (min-width: 48em) {
.s-layout__content {
   padding-left: 15em;
   padding-right: 15em;
   margin-left: 15em;


}
.mar{
  min-width: 400px;
  height: 100%;


}
.card{
  width: 550px;
  height: auto;
}
.card-header, .card-body{
  font-size: 16px;
}
.card-header h4{
  font-size: 33px;
  font-weight: 700;
  color:#0066cc;
}
.s-sidebar__nav {
   width: 11em;
}
.list-inline{

  font-size: 16px;
}
.s-sidebar__nav ul {
   top: 1.3em;
}
.s-sidebar__nav-link em{
 color: white;
 }
 .s-sidebar__nav em,
 .s-sidebar__nav .collapse.in a{
  color: white;
  }

 .s-sidebar__nav-link em:hover,
 .s-sidebar__nav-link li:hover{
     color: rgb(101, 191, 91);
 }
 ul > img{
     width: 9em;
     height:9em;
     border-radius: 50%;
     margin-left: 15px;
     }
     p.borda{
      font-size: 1vw;
    }
}
