<div class="principal">
  <!--Navigation bar-->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/feed" style="margin-left: 10px"><img src="./assets/img/logo.png" width="60" height="60" alt="" ></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right" style="margin-right: 10px">
        <li><a routerLink="/feed">Feed</a></li>
        <li><a routerLink="/ranking">Ranking</a></li>
        <li><a (click)="logout()">Logout</a></li>

      </ul>
    </div>
  </nav>
  <!--/Navigation bar-->
<!--modal editar perfil-->
<div class="modal fade" id="changeInfo" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button #closeModalChangeButton type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title text-center form-title" style="color: #0066cc;">Editar Perfil</h4>
      </div>
      <div class="modal-body">
        <div class="login-box-body">
          <div>
            <img [src]="server.user.image_profile" class="rounded" style="width: 80px; height:80px; margin-left: 38%;">
          </div>
          <p class="login-box-msg" style="color: grey;">Insira uma foto</p>
          <form action="#" method="post" name="changeInfo" style="width: 350px; margin-left:-20px;" >
          <input class="form-control" type="file" accept="image/*" (change)="changeListener($event)"/>
          <div class="form-group" style="margin-bottom:0rem">
           <!----- username -------------->
           <label for="nome" style="font-size: 1.3rem">Nome completo:</label><br>
           <p style="font-size: 1.3rem">{{server.user.name}}</p>
         </div>
         <div class="form-group" style="margin-bottom:0rem">                    <!----- matricula -------------->
           <label for="matricula" style="font-size: 1.3rem">Matrícula:</label>
           <p style="font-size: 1.3rem">{{server.user.registry}}</p>
         </div>
         <div class="form-group" style="margin-bottom:0rem">                    <!----- username -------------->
          <label for="rg" style="font-size: 1.3rem;">Número RG:</label><br>
          <p style="font-size: 1.3rem">{{server.user.identity}}</p>
         </div>


       <div class="form-group" style="margin-bottom:0rem">                    <!----- username -------------->
         <label for="campoData" style="font-size: 1.3rem">Data de nascimento:</label>
         <p style="font-size: 1.3rem">{{server.user.date_birth}}</p>
       </div>

         <div class="form-group" style="margin-bottom:0rem">                    <!----- username -------------->
           <label for="email" style="font-size: 1.3rem">E-mail</label>
           <input class="form-control" placeholder="Novo email" id="email" type="email" name="email" required="" [(ngModel)]="user.email" />
           <span style="display:none; font-weight:bold; position:absolute;color: red;position: absolute;padding:4px;font-size: 11px;background-color:rgba(128, 128, 128, 0.26);z-index: 17;  right: 27px; top: 5px;" id="span_loginid"></span>

         </div>
         <div class="form-group" style="margin-bottom:0rem" [class.has-error]="password1.touched && password1.invalid">                    <!----- password -------------->
          <label style="font-size: 1.3rem">Nova senha</label>
          <input class="form-control" placeholder="Senha" type="password" name="password" required [(ngModel)]="user.password" #password1="ngModel">
          <span style="color: red; font-size: 11px;" *ngIf="password1.touched && password1.errors?.required">
          Digite uma senha
          </span>

        </div>
        <div class="form-group" [class.has-error]="password2.touched && password2.invalid">                    <!----- password -------------->
          <label style="font-size: 1.3rem">Confirme a senha</label>
          <input class="form-control" placeholder="Repita senha" type="password" name="pswconfirm" signUpConfirmEqualValidator="password" required [(ngModel)]="user.pswconfirm" #password2="ngModel">
          <span style="color: red; font-size: 11px;" *ngIf="password2.touched && password2.errors?.required">
          Confirme sua senha<br>
          </span>
          <span style="color: red; font-size: 11px;" *ngIf="password2.touched && password2.errors?.notEqual && !password2.errors?.required">
          As senhas devem ser iguais<br>
          </span>

          <a  href="#excluir" data-toggle="collapse">
          <label style="font-size: 1.3rem; color:#717f86; margin-top: 4px;" class="pointer">Excluir conta</label></a>

          <div id="excluir" class="collapse">

            <label style="font-size: 1.3rem;">Tem certeza que deseja excluir sua conta?</label><br>

            <div class="row">

            <div class="btncolumn1" style="color:white;">
            <input style="margin-top: 0px;background-color: #cccccc"type="submit" class="btn   btn-flat" value="Sim" (click)="delete()">
            </div>

            <div class="btncolumn2" style="color:white;">
            <input style="margin-top: 0px; background-color: #cccccc"type="submit" class="btn btn-flat" value="Não" href="#excluir" data-toggle="collapse">

            </div>
            </div>

          </div>
           <input style="margin-top: 20px;"type="submit" class="btn btn-green btn-block btn-flat" value="Alterar" (click)="updateInfo(user)">

         </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--/modal editar perfil-->
    <div class="modal fade" id="modalLabel" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-sm">

      <!-- Modal content no 1-->
       <div class="modal-content">
         <div class="modal-header">
            <button #closeModalDangerButton type="button" class="close" data-dismiss="modal">&times;</button>

          <h4 class="modal-title text-center form-title" style="color: #0066cc;">Denunciar Publicação</h4>
         </div>
        <div class="modal-body">
          <div class="login-box-body">
            <p class="login-box-msg" style="color: grey;">Esta publicação será denunciada.<br>
            Deseja continuar?</p>


            <div class="row" style="padding-left: 30%;" >

              <div class="btncolumn" style="color:white;">
                <input style="margin-top: 0px;background-color: #cccccc"type="submit" class="btn   btn-flat" value="Sim" (click)="report()">
                </div>

                <div class="btncolumn" style="color:white;">
                <input style="margin-top: 0px; background-color: #cccccc; margin-left:20px;"type="submit" class="btn btn-flat" value="Não" data-dismiss="modal">

            </div>
            </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  <!--/ Modal box-->
  <!-- Sidebar-->
  <div class="s-layout__sidebar">
    <nav class="s-sidebar__nav" style="margin-top: 60px;">
      <ul style="width: 144px;height: auto;">
        <img [src]="server.user.image_profile">
        <br>
        <div class="row" style="margin-left: 20px; text-align: center;">
        <em class="text-center">{{server.user.name}}</em>
      </div>
       <li>
          <a class="s-sidebar__nav-link" href="#" data-target="#changeInfo" data-toggle="modal" (click)="clearInputs()" >
          <i class="fa fa-user"></i><em>Editar Perfil</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" routerLink="/post">
          <i class="fa fa-newspaper-o"></i><em>Publicar</em>
          </a>
        </li>
        <li>
          <a class="s-sidebar__nav-link" href="#demo" data-toggle="collapse">
          <i class="fa fa-pencil-square-o"></i><em>Demandas</em>
          </a>
        </li>
        <div id="demo" class="collapse">
          <div style="margin-left: 60px; margin-top: 8px; padding-top: 40px;"><a  style="text-decoration: none;" routerLink="/madeByme" >Criadas</a></div>
            <div style="margin-left: 60px; margin-top: 8px;"><a  style="text-decoration: none;"routerLink="/liked" >Curtidas/<br>Comentadas</a></div>
             <div style="margin-left: 60px; margin-top: 8px;"><a  style="text-decoration: none;" routerLink="/solved">Solucionadas</a></div>
             </div>

      </ul>
    </nav>
  </div>
  <!--/ Sidebar-->
   <!--Cabeçalho-->
   <div class="s-layout__content">
      <div class="mar">
        <div class="card" >
          <div class="card-header textcenter">
            <h2 style="color:#0066cc; padding-top: 5px;">Demandas Curtidas/Comentadas</h2>
          </div>
        </div>
    <!--/Cabeçalho-->
      <!--Card-->
  <div class="card pointer"  *ngFor="let post of posts;">
      <div class="row" >
        <div class="col-md-4 firstcol column"(click)="post.collapsed=!post.collapsed">
          <img [src]="post?.image_demand" class="rounded" style="width: 70px; height:70px;"  vspace="5">
        </div>
        <div class="col-md-4 secndcol column">
          <div class="row" (click)="post.collapsed=!post.collapsed" >
           <a style="font-size:16px; text-decoration: none; color:#0066cc;">{{post?.title}}</a>
          </div>
          <div class="row"(click)="post.collapsed=!post.collapsed">
            <a class="text-muted" style="font-size:13px; text-decoration: none;"> {{post?.created_date}}</a>&nbsp;
            <br>
            <i class="fa fa-map-marker" style="color: rgb(184, 185, 186); font-size:15px;">&nbsp;</i>
            <a style="color:black;font-size:15px; text-decoration: none;">{{post?.local}}</a>
          </div>


          <div class="row">
            <ul class="list-inline">

              <div class="pull-left notLiked">
                  <a (click)="like(post)" class="pointer responsivo" style="text-decoration: none;" [ngClass]="{'liked': post.gave_like == 'true', 'notLiked': post.gave_like == 'false'}"><i class="fa fa-thumbs-up" style="font-size: 15px;"></i>
                  {{post?.total_likes}}</a>
                </div>

                  <div class="textl icon" (click)="post.collapsed=!post.collapsed">
                    <a class="pointer icon responsivo2" style="text-decoration: none;" (click)="post.showcomments=!post.showcomments;"><i class="fa fa-comments" ></i>
                    {{post?.comments?.length}} comentários
                    </a>
                  </div>

            </ul>
          </div>
          </div>
      </div>
    <!--Expanded card1-->
    <div class="card" style="padding-bottom:15px;" *ngIf="post.collapsed">
      <div class="linha"></div>
      <div class="pull-right">
        <a data-toggle="modal" data-target="#modalLabel" (click)="reportId(post)">
          <i class="fa fa-exclamation pointer" style="font-size:30px; color:#dc3545; padding: 10px;"></i>
        </a>
      </div>
      <div class="card-header textleft">
        <div class="col-xs-2" style="width:auto; padding:1; height: 100%;">
          <img [src]="post?.image_profile" style="object-fit:cover; border-radius: 50%; margin-top: 10px;">
        </div>
        <p style="padding-top:5px;">
          <a>  {{post?.name}}</a>
          publicou
          <b>{{post?.title}}</b>
          em<br>
          <i class="fa fa-map-marker" style="color:gray;" name="pin"></i>
          {{post?.local}}
        </p>
      </div>
      <div class="card-body" style="background-color:#fff; text-align: justify;">
        <img [src]="post?.image_demand" style="width:90%">
        <p>
        {{post?.description}}
        </p>
        <div class="row">
          <div class="col-sm-12">
        <div class="linha"></div>
        <ul class="list-inline">
          <div class="pull-left notLiked">
              <a (click)="like(post)" class="pointer" style="text-decoration: none;" [ngClass]="{'liked': post.gave_like == 'true', 'notLiked': post.gave_like == 'false'}"><i class="fa fa-thumbs-up" style="  margin-left: 20px;
              font-size: 15px;"></i>
              {{post?.total_likes}}</a>
            </div>
            <div class="textl pull-right icon">
              <a class="pointer icon " style="text-decoration: none; margin-right: 20px;" (click)="post.showcomments=!post.showcomments;"><i class="fa fa-comments" ></i>
              {{post?.comments?.length}} comentários
              </a>
            </div>

        </ul>
          </div>
        </div>
            <div class="linha2"></div>
      </div>
      <div class="card-footer rolavel" style="height:auto;max-height:300px; background:none;" *ngIf="post.showcomments">
        <div class="card-header textleft" *ngFor="let comment of post.comments;" style="padding: 0px;">
          <div class="col-xs-2" style="width:auto;">
            <img [src]="comment.image_profile" style="object-fit:cover;border-radius: 50%; margin-top: 10px;">
          </div>
          <p class="borda">
            <a class="pointer" style="text-decoration: none;">  {{comment.name}}</a>

            <a class="pointer fa fa-trash pull-right" style="padding:0; text-decoration: none;" (click)="delComment(comment)" *ngIf="comment.owner_comment == 'true'"></a>
            <br>
            {{comment.comment}}
          </p>
      </div>
      <div class="card-header textleft" *ngFor="let comment of post.answers;">
        <div class="col-xs-2" style="width:auto; background: #0066cc;">
          <img [src]="comment?.image_profile" style="object-fit:cover;border-radius: 50%; margin-top: 10px;">
        </div>
        <p class="borda">
          <a class="pointer" style="text-decoration: none;">{{comment?.name}}</a>

          <a class="pointer fa fa-trash pull-right" style="padding:0; text-decoration: none;" (click)="delComment(comment)" *ngIf="comment.owner_comment == 'true'"></a>
          <br>
          {{comment?.comment}}
        </p>
    </div>
    </div>
    <div class="textleft inputWithIcon icon" >
      <input type="text" class="form-control" placeholder="Escreva seu comentário..." style="border-radius: 10px;" [(ngModel)]="comment">
      <a (click)="newComment(post, comment)" class="pointer icon" style="text-decoration: none;"><i class="fa fa-mail-forward"></i></a>
    </div>
  </div>
  </div>
  <!--/Card-->

      <!--Card-->
      <div class="card pointer"  *ngFor="let sugestions of demands;">
          <div class="row">
            <div class="col-md-4 firstcol column" (click)="sugestions.collapsed=!sugestions.collapsed">
              <img [src]="sugestions?.image_demand" class="rounded" style="width: 70px; height:70px;"  vspace="5">
            </div>
            <div class="col-md-4 secndcol column">
              <div class="row " (click)="sugestions.collapsed=!sugestions.collapsed">
               <a style="font-size:16px; text-decoration: none; color:#0066cc;"  >{{sugestions?.title}}</a>
              </div>
              <div class="row" (click)="sugestions.collapsed=!sugestions.collapsed">
                <a class="text-muted" style="font-size:13px; text-decoration:none;"> {{sugestions?.created_date}}</a>&nbsp;
                <br>
                <i class="fa fa-map-marker" style="color: rgb(184, 185, 186); font-size:15px;"></i>&nbsp;
                <a style="color:black;font-size:15px; text-decoration:none;">{{sugestions?.local}}</a>
              </div>
              <div class="row">
                <ul class="list-inline">

                  <div class="pull-left notLiked">
                      <a (click)="like(sugestions)" class="pointer responsivo" style="text-decoration: none;" [ngClass]="{'liked': sugestions.gave_like == 'true', 'notLiked': sugestions.gave_like == 'false'}"><i class="fa fa-thumbs-up" style="font-size: 15px;"></i>
                      {{sugestions?.total_likes}}</a>
                    </div>

                      <div class="textl icon" (click)="sugestions.collapsed=!sugestions.collapsed">
                        <a class="pointer icon responsivo2" style="text-decoration: none;"><i class="fa fa-comments"></i>
                        {{sugestions?.comments?.length}} comentários
                        </a>
                      </div>

                </ul>
              </div>
              </div>
          </div>
        <!--Expanded card1-->
        <div class="card" style="padding-bottom:15px;" *ngIf="sugestions.collapsed">
          <div class="linha"></div>
          <div class="pull-right">
            <button class="btn btn-link" data-toggle="modal" data-target="#post01"  aria-controls="post01" (click)="reportId(sugestions)">
              <i class="fa fa-exclamation" style="font-size:30px; color:#dc3545"></i>
            </button>
          </div>
          <div class="card-header textleft">
            <div class="col-xs-2" style="width:auto; padding:1; height: 100%;">
              <img [src]="sugestions?.image_profile" style="object-fit:cover; border-radius: 50%; margin-top: 10px;">
            </div>
            <p style="padding-top:5px;">
              <a>  {{sugestions?.name}}</a>
              publicou
              <b>{{sugestions?.title}}</b>
              em<br>
              <i class="fa fa-map-marker" style="color:gray;" name="pin"></i>
              {{sugestions?.local}}
            </p>
          </div>
          <div class="card-body" style="background-color:#fff; text-align: justify;">
            <img [src]="sugestions?.image_demand" style="width:100%">
            <p>
            {{sugestions?.description}}
            </p>
            <div class="row">
              <div class="col-sm-12">
            <div class="linha"></div>
            <ul class="list-inline">
              <div class="pull-left notLiked">
                  <a (click)="like(sugestions)" class="pointer" style="text-decoration: none;" [ngClass]="{'liked': sugestions.gave_like == 'true', 'notLiked': sugestions.gave_like == 'false'}"><i class="fa fa-thumbs-up" style="  margin-left: 20px;
                  font-size: 15px;"></i>
                  {{sugestions?.total_likes}}</a>
                </div>
                <div class="textl pull-right icon">
                  <a class="pointer icon " style="text-decoration: none; margin-right: 20px;" (click)="sugestions.showcomments=!sugestions.showcomments;"><i class="fa fa-comments" ></i>
                  {{sugestions?.comments?.length}} comentários
                  </a>
                </div>

            </ul>

              </div>
            </div>
                <div class="linha2"></div>
          </div>
          <div class="card-footer rolavel" style="height:auto;max-height:300px; background:none;" *ngIf="sugestions.showcomments">
            <div class="card-header textleft" *ngFor="let comment of sugestions.comments;" style="padding: 0px;">
              <div class="col-xs-2" style="width:auto;">
                <img [src]="comment.image_profile" style="object-fit:cover;border-radius: 50%;">
              </div>
              <p class="borda">
                <a class="pointer" style="text-decoration: none;">{{comment?.name}}</a>

                <a class="pointer fa fa-trash pull-right" style="padding:0; text-decoration: none;" (click)="delComment(comment)" *ngIf="comment.owner_comment == 'true'"></a>
                <br>
                {{comment?.comment}}
              </p>
          </div>
          <div class="card-header textleft" *ngFor="let comment of sugestions.answers;">
            <div class="col-xs-2" style="width:auto; background: #0066cc;">
              <img [src]="comment?.image_profile" style="object-fit:cover;border-radius: 50%; margin-top: 10px;">
            </div>
            <p class="borda">
              <a class="pointer" style="text-decoration: none;">{{comment?.name}}</a>

              <a class="pointer fa fa-trash pull-right" style="padding:0; text-decoration: none;" (click)="delComment(comment)" *ngIf="comment.owner_comment == 'true'"></a>
              <br>
              {{comment?.comment}}
            </p>
        </div>
        </div>
        <div class="textleft inputWithIcon icon" >
          <input type="text" class="form-control" placeholder="Escreva seu comentário..." style="border-radius: 10px;" [(ngModel)]="comment">
          <a (click)="newComment(sugestions, comment)" class="pointer icon" style="text-decoration: none;"><i class="fa fa-mail-forward"></i></a>
        </div>
      </div>
      </div>
      </div>
      </div>
      <!--/Card-->
<script src="liked.ts"></script>
