div.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}


@media screen and (max-width: 1024px) {
  div.center {
    margin-left: -13px;
    margin-top: -60px;
    width: 30%;

  }
}

/***********************************
Navigation bar
************************************/
/*cor da barra de navegação*/
.navbar-default {
background-color: #212529;

}

/*caracteristicas do conteudo da barra*/
.navbar-default .navbar-nav > li > a {
color: white;
font-size: 14px;
font-weight: 700;
padding: 0px;
margin: 10px 5px;
padding: 10px 15px;
}
/*Quando passa o mouse*/
.navbar-default .navbar-nav > li > a:hover
{
color: rgb(101, 191, 91);
}
/*Quando clica*/
.navbar-nav .active a{
background: none !important;
color: rgb(101, 191, 91) !important;
outline: none;
}


/***********************************
Sidebar
************************************/

/* Primary Styles */
*, *::before, *::after {
box-sizing: border-box;
}

em {
font-style: normal;
color: white;
font-size: 14px;
font-weight: 700;
}
em:hover {
color: rgb(101, 191, 91);
}

/* Layout */
.s-layout {
display: flex;
width: 100%;
min-height: 100vh;
}

.s-layout__content {
display: flex;
justify-content: center;
align-items: center;
flex: 1;
top: 60px;
left: 208px;
}

/* Sidebar */

.s-sidebar__nav {
position: fixed;
top: 0;
overflow: hidden;
transition: all .3s ease-in;
height: 100%;
background-color: #343a40;

}

.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
left: 0;
}

.s-sidebar__nav ul {
position: absolute;
left: 0;
margin: 0;
padding: 0;
width: 15em;
top: 4em;
}

.s-sidebar__nav ul li {
width: 100%; 
margin-bottom: 10px;
margin-left: 5px;
}

.s-sidebar__nav-link {
position: relative;
display: inline-block;
width: 100%;
color:white;
margin: 0;
}

.s-sidebar__nav-link em {
position: absolute;
left: 3.5em;
transform: translateY(-50%);
}


.s-sidebar__nav-link > i , .s-sidebar__nav-link a{
position: absolute;
top: 0;
width: 4em;
}

.s-sidebar__nav-link > i::before {
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);
}
.modal-dialog {
  width: 600px;
  margin: 150px auto;
}
.modal-content h4 {
  font-size: 1.5em;
  font-weight: 700;
}
.modal-sm {
  width: 400px;
}
/* Mobile First */
@media (min-width: 10em) {
  .modal-sm{
    width: 280px;
    transition: all 0.3s;
    padding: 20px
}
.s-layout__content {
 margin-left: 6em;
 align-content: center;
  margin-right: 3em;

}
.mar{
  margin-top:60px;
    align-items: center;
    text-align: center;
    min-width: 260px;
    max-width: 500px;

}
.list-inline{

font-size: 12px;
}
/* Sidebar */

.s-sidebar__nav {
 width: 4em;
 left: 0;
}

.s-sidebar__nav ul{
top: 1.3em;
}
.s-sidebar__nav-link{
top: 2.3em;
}

.s-sidebar__nav:hover em,
.s-sidebar__nav:focus em,
.s-sidebar__nav:hover ,
.s-sidebar__trigger:hover + .s-sidebar__nav,
.s-sidebar__trigger:focus + .s-sidebar__nav

{
 width: 10em;
 color: white;
}
.s-sidebar__nav:hover img,
.s-sidebar__nav:focus img {
width: 9em;
height: 9em;
margin-left: 15px;
}
.s-sidebar__nav:hover ul,
.s-sidebar__nav:focus ul
{
top: 1.3em;
}

.s-sidebar__nav-link em{
color: transparent;
}

.s-sidebar__nav-link em:hover{
color: rgb(101, 191, 91);
}
ul > img{
width: 3em;
height:3em;
border-radius: 50%;
margin-left: 8px;
}
.card-info{
display: none;
}
.card{
max-width: 500px;
height: auto;
min-width: 260px;
}
.card-header, .card-body{
font-size: 10px;
}
}


@media (min-width: 58em) {
  .modal-sm{
    width: 500px;
    transition: all 0.3s;
    padding: 20px
}
.s-layout__content {
 margin-left: 20em;
 margin-right: 15em;

}
.s-sidebar__nav:hover em,
.s-sidebar__nav:focus em,
.s-sidebar__nav:hover ,
.s-sidebar__trigger:hover + .s-sidebar__nav,
.s-sidebar__trigger:focus + .s-sidebar__nav
{
 width: 13em;
}

.mar{
min-width: 500px;

}
.card{
width: 500px;
height: auto;
}
.card-header, .card-body{
font-size: 16px;
}
.s-sidebar__nav {
 width: 13em;
}
.list-inline{

font-size: 16px;
}
.s-sidebar__nav ul {
 top: 1.3em;
}
.s-sidebar__nav-link em{
color: white;
}
.s-sidebar__nav-link em:hover{
   color: rgb(101, 191, 91);
}
ul > img{
   width: 9em;
   height:9em;
   border-radius: 50%;
   margin-left: 15px;
   }
   
}



