.principal {background-color:  rgb(242, 244, 247);}
/***********************************
Navigation bar
************************************/
/*cor da barra de navegação*/
.navbar-default {
background-color: #212529;
}

/*caracteristicas do conteudo da barra*/
.navbar-default .navbar-nav > li > a {
color: white;
font-size: 14px;
font-weight: 700;
padding: 0px;
margin: 10px 5px;
padding: 10px 15px;
}
/*Quando passa o mouse*/
.navbar-default .navbar-nav > li > a:hover
{
color: rgb(101, 191, 91);
}
/*Quando clica*/
.navbar-nav .active a{
background: none !important;
color: rgb(101, 191, 91) !important;
outline: none;
}
/***********************************
Sidebar
************************************/

/* Primary Styles */
*, *::before, *::after {
box-sizing: border-box;
}

em {
font-style: normal;
color: white;
font-size: 14px;
font-weight: 700;
}
em:hover {
 color: rgb(101, 191, 91);
}
.s-layout__content table * {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
}
.s-layout__content table.table-bordered
{
  max-width: 800px !important;
  min-width: 300px !important;   
  width: 100% !important;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
thead {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

tbody {
  overflow-y: scroll;
  display: inline-block;
}

thead > tr, tbody > tr{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
th, tbody td {
  width: 30%; /* this can vary */
  overflow-x: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
.s-layout__content p,
.s-layout__content > label,
.s-layout__content > .row{
  text-align: justify;
  margin-bottom: 0;
  margin-top: 40px;
  max-width: 800px !important;
  min-width: 300px !important;   
  width: 100% !important;
  padding: 8px;
}
.s-layout__content > .row > input,
.s-layout__content > .row > button{
  text-align: justify;
}

::-webkit-scrollbar-track {
  background-color: #F4F4F4;
}
::-webkit-scrollbar {
  width: 1px;
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #dad7d7;
}

/* Sidebar */

.s-sidebar__nav {
position: fixed;
top: 0;
overflow: hidden;
transition: all .3s ease-in;
height: 100%;
background-color: #212529;
}

.s-layout__content {
margin-top:60px;
}
.s-sidebar__nav:hover,
.s-sidebar__nav:focus,
.s-sidebar__trigger:focus + .s-sidebar__nav,
.s-sidebar__trigger:hover + .s-sidebar__nav {
left: 0;
}

.s-sidebar__nav ul {
position: absolute;
left: 0;
margin: 0;
padding: 0;
width: 10em;
top: 4em;
}

.s-sidebar__nav ul li {
width: 100%; 
margin: 10px;

}

.s-sidebar__nav-link {
position: relative;
display: inline-block;
width: 100%;
color:white;
margin: 0;
}

.s-sidebar__nav-link em {
position: absolute;
left: 3.5em;
transform: translateY(-50%);
}
.s-sidebar__nav-link > i , .s-sidebar__nav-link a{
position: absolute;
top: 0;
width: 4em;
}
.s-sidebar__nav-link > i::before {
position: absolute;
top: 90%;
left: 50%;
transform: translate(-50%, -50%);
}
.btn-primary.pull-right {
  margin-top: 15px;
}
.row.my-3{
  width: 100% auto;
  height: 40px;
}
.row.my-3 > .col-sm-2{
  font-size: 13px;
  color: black;
}
.modal-body > img{
  width: 9em;
  height: 9em;
}
.col > button, .fa.fa-wrench{
  font-size: 10px;
}
.card {
  width: 100%;
  background-color:  #ffffff;
}
.card > .row{
height: 50px;
margin: 12px;
-webkit-box-shadow: 0 0 11px 0 red;
-moz-box-shadow: 0 0 11px 0 red;
box-shadow: 0 0 11px 0 red;


}
.cell{
  margin-top:  2%;
  text-align: center;
}
.card.collapse {
  border: 3px solid rgb(128,128,128, 0.4);
  border-radius: 1%;
  padding: 5px;
  
}
.card .card-header{
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1vw;
  }
  .card .card-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .card-footer .collapse img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  .card .card-footer{
    font-size: 12px;
    }
  .card-footer > .collapse > .row{
    margin-left:20px;
    
    }
    .bottom-line{
      width: 50px;
      height:3px;
      background-color: rgb(99, 122, 145);
      padding: 0;
      margin: 0;
      margin-left:50%;
    }

/* Mobile First */
@media (min-width: 10em) {

  .card-header, .card-body{
    font-size: 10px;
  }
  /*Content*/
  .s-layout__content {
    padding-right: 3em;
    padding-left: 5em;
    height: 100%;
  }
  .list-inline{
  font-size: 12px;
  }
  
  /* Sidebar */
  .s-sidebar__nav {
     width: 4em;
     left: 0;
  }
  .s-sidebar__nav ul{
   top: 1.3em;
  }
  .s-sidebar__nav-link{
   top: 2.3em;
  }
  .s-sidebar__nav:hover em,
  .s-sidebar__nav:focus em,
  .s-sidebar__nav:hover ,
  .s-sidebar__trigger:hover + .s-sidebar__nav,
  .s-sidebar__trigger:focus + .s-sidebar__nav
  {
     width: 11em;
     color: white;
  }
  .s-sidebar__nav:hover ul,
  .s-sidebar__nav:focus ul
  {
   top: 1.3em;
  }
  .s-sidebar__nav-link em{
   color: transparent;
  }
  .s-sidebar__nav-link em:hover{
   color: rgb(101, 191, 91);
  }
  
  /* Agora vamos definir o elemento tbody, para overflow: auto. Ativando assim as barras de rolagem. */
  table tbody{
  overflow: auto;
  height: 250px auto;
  font-size: 2vw;
  color: black;
}
table thead {
  font-size: 2vw;
  color: black;
}
.s-layout__content p{
  font-size: 2.5vw;
}
  .table-bordered {
     border: solid;
     border-top:none;
    
   } 
input{
    color:#0066cc;
    width:100%;
    height: 20px;
      }

      .modal-sm{
        width: 320px;
        transition: all 0.3s;
        padding: 20px;
    }
    .modal-md{
      width: 380px;
      transition: all 0.3s;
      background-color:  rgb(242, 244, 247);
    }
  label{
    font-size: 12px;
  }
    }
    .column > .cell > .row{
      font-size: 9px;
    }
    .column > .cell > img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      
    }


@media (min-width: 48em) {

  .card-header, .card-body{
    font-size: 16px;
  }
  /*Content*/
  .s-layout__content {
    margin-right: 15em;
    margin-left: 15em;
    height: 100%;

  }
  .list-inline{
    font-size: 16px;
  }
  
  /* Sidebar */
  .s-sidebar__nav {
     width: 11em;
     left: 0;
  }
  .s-sidebar__nav-link em{
   color: white;
  }
  .s-sidebar__nav-link em:hover{
   color: rgb(101, 191, 91);
  }
  .s-layout__content table.table-bordered, .s-layout__content p
{
  min-width: 450px !important; 
}
  table tbody, table thead, .s-layout__content p {
    font-size: 1.2vw;
  }
  table tbody{
    height: 250px;
  }
  input{
    color:#0066cc;
    width:250px;
    height: 32px;
      }

  .modal-dialog {
    width: 600px;
    margin: 150px auto;
  }
  .modal-content h4 {
    font-size: 1.5em;
    font-weight: 700;
  }
  .modal-md{
    width: 600px;
  }
  .modal-sm {
    width: 400px;
  }
  label{
    font-size: 14px;
  }
  .column > .cell > .row{
    font-size: 12px;
  }
}