h1 {
    text-align: center;
}

select {
    text-align: center;
    align-self: center;
    
}

div {
    width: 100%;
    /*background-color: blue;*/
    /*height: 300px;*/

    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
