/*CSS PAGINA INICIAL*/

body {
	font-size: 15px;
    line-height: 1.52;
    color: #717f86;
    font-size: 16px;
	  font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
ol, ul {
	list-style: none;
}
.section-padding{
	padding: 60px 0px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1, h2, h3, h4, h5, h6{
    font-family: Open Sans, sans-serif;
    font-weight: 700;
    color: #4B4B4C;
}
/***********************************
Navigation bar
************************************/
/*cor da barra de navegação*/
.navbar-default {
    background-color: #0066cc;
}
/*caracteristicas do conteudo da barra*/
.navbar-default .navbar-nav > li > a {
    color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 0px;
	margin: 10px 5px;
	padding: 10px 15px;
}
/*Quando passa o mouse*/
.navbar-default .navbar-nav > li > a:hover
{
	color: rgb(101, 191, 91);
}
/*Quando clica*/
.navbar-nav .active a{
    background: none !important;
    color: rgb(101, 191, 91) !important;
    outline: none;
}

/***********************************
Banner
************************************/
.banner{
	background: url('../../assets/img/bg-banner.jpg') no-repeat center top;
  background-size: cover;
	min-height: 100%;
  position: relative;
}


.bg-color{
	background-color: RGBA(12, 11, 11, 0.60);
	min-height: 100%;
}

.text-dec{
	font-size: 26px;
	padding: 10px 20px;
    margin: 2px 0;
	text-transform: uppercase;
    color: #fff;

}
.text-border{
	border: 5px solid #0066cc;
	display: inline-block;
	margin-top: 90px;
}
.intro-para{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 45px;
	color: #fff;
	margin-top: 10px;
}

.modal-dialog {
    width: 600px;
    margin: 150px auto;
}
.modal-content h4 {
    font-size: 1.5em;
    font-weight: 700;
}
.login-box-body {
    padding: 15px 30px;
}
.login-box-msg, .register-box-msg {
    margin: 0px;
    text-align: center;
    padding: 0px 20px 10px;
}
.modal-sm {
    width: 400px;
}
.padleft-right{
    padding-left: 5px;
    padding-right: 0px;
}
.big-text{
    font-size: 35px;
}
.small-text{
    font-size: 16px;
}
@media (max-width: 568px) {
.modal-sm{
        width: 320px;
        transition: all 0.3s;
        padding: 20px
    }
  }
/***********************************
Features
************************************/
h2{
	font-size: 28px;
	padding-bottom: 15px;
}
.bottom-line{
	width: 25px;
	height: 3px;
	background-color: rgb(99, 122, 145);
}
.fea{
	margin-top: 25px;
}
.fea-img {
  width: 20%;
}
.heading {
    width: 80%;
}
.fea i {
    font-size: 39px;
    color: #5FCF80;
    margin-top: 7px;
}
.heading h4 {
    font-size: 17px;
    line-height: 1.25;
    font-weight: 700;
    color: #000;
    margin: 10px 0px;
    text-align: left;
}
.heading p {
  text-align: left;
}
/***********************************
 Organisations
************************************/
#organisations{
    background-color: rgb(247, 247, 247);
}

/***********************************
Course
************************************/
[class*=" imghvr-"] figcaption, [class^="imghvr-"] figcaption {
    background-color: rgb(101, 191, 91);
}
[class*=" imghvr-"], [class^="imghvr-"] {
    background-color: rgb(101, 191, 91);
    color: #fff;
}
/***********************************
Footer
************************************/
.footer {
    padding: 10px 0 20px;
    background: #0066cc;
    color: #ccc;
}
.footer a {
    color: #fff;
}
.btn-green, .btn-green:hover{
    background-color:rgb(101, 191, 91);
    color: #fff;
}

